.Dropdown-menu {
    display: table;
    width: 28vw;
}

.Dropdown {
    width: 28vw;
}
.Dropdown-root{
    width: 28vw;
}

.Dropdown-control {
    border-radius: 10px;
    width: 28vw;
    padding: 11px;
}
