:root {
	font-family: 'BoschSans-Regular', sans-serif;
	line-height: 1.5;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--red: #ED0007;
	--purple: #9E2896;
	--blue: #007BC0;
	--green: #00884A;
	--grey: #71767C;
	--yellow: #FFCF00;
}

@font-face {
	font-family: BoschSans-Regular;

	/*Caso a fonte esteja na mesma pasta*/
	src: url("BoschSans-Regular-v5_003.ttf");

}

* {
	margin: 0;
	bottom: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
}

#root {
	width: 100%;
	height: 100%;
}